<div class="relative rounded-lg p-4 shadow-2xl bg-white">
  <span
    *ngIf="showNewBadge && product.isNew"
    class="absolute top-2 left-2 z-10 bg-black text-white text-xl md:text-sm font-bold py-1 px-2 rounded-lg"
  >
    Nyhet
  </span>
  <a [routerLink]="'/products/' + product.slug">
    <div class="relative">
      <img
        src="{{ product.imageUrl }}"
        alt="{{ product.name }}"
        class="w-full object-cover rounded-t-md aspect-square object-top"
      />
      <button
        (click)="
          toggleFavorite(); $event.preventDefault(); $event.stopPropagation()
        "
        class="absolute bottom-4 right-4 text-5xl"
      >
        <i *ngIf="isFavorite(); else emptyHeart" class="fa-solid fa-heart"></i>
        <ng-template #emptyHeart>
          <i class="fa-regular fa-heart"></i>
        </ng-template>
      </button>
    </div>
    <hr class="text-gray-100" />
    <div class="text-2xl sm:text-xl flex justify-between">
      <h2 class="font-bold mt-2">{{ product.name }}</h2>
      <p class="text-gray-600 self-end font-bold">{{ product.price }} kr</p>
    </div>
    <p class="self-end text-gray-400">{{ product.brand }}</p>
  </a>
</div>
