<section class="sm:text-xl mx-7 mt-12 mb-5 grid gap-7 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
    <div class="flex items-center sm:justify-center">
      <i class="fa-solid fa-earth-americas mr-4 text-5xl sm:text-4xl"></i>
      <p class="text-3xl sm:text-xl">Gratis frakt och returer</p>
    </div>
    <div class="flex items-center sm:justify-center">
      <i class="fa-solid fa-plane mr-4 text-5xl sm:text-4xl"></i>
      <p class="text-3xl sm:text-xl">Expressfrakt</p>
    </div>
    <div class="flex items-center sm:justify-center">
      <i class="fa-solid fa-shield mr-4 text-5xl sm:text-4xl"></i>
      <p class="text-3xl sm:text-xl">Säkra betalningar</p>
    </div>
    <div class="flex items-center sm:justify-center">
      <i class="fa-regular fa-face-smile mr-4 text-5xl sm:text-4xl"></i>
      <p class="text-3xl sm:text-xl">Nyheter varje dag</p>
    </div>
  </section>
  <section class="text-2xl max-w-6xl mx-auto px-5 bg-[#276B6C] text-white sm:hidden">
    <app-accordion title="Shopping">
      <hr />
      <ul class="list-none my-3">
        <li class="mb-2">Vinterjackor</li>
        <li class="mb-2">Pufferjackor</li>
        <li class="mb-2">Kappa</li>
        <li class="mb-2">Trenchcoats</li>
      </ul>
    </app-accordion>
    <app-accordion title="Mina Sidor">
      <hr />
      <ul class="list-none mt-1 mb-3">
        <li class="mb-2">Mina Ordrar</li>
        <li class="mb-2">Mitt Konto</li>
      </ul>
    </app-accordion>
    <app-accordion title="Kundtjänst">
      <hr />
      <ul class="list-none mt-1 mb-3">
        <li class="mb-2">Returnpolicy</li>
        <li class="mb-2">Integritetspolicy</li>
      </ul>
    </app-accordion>
  </section>
  <section class="hidden sm:flex p-5 bg-[#276B6C] text-white">
    <ul>
      <li class="font-bold">Shopping</li>
      <li class="my-2">Vinterjackor</li>
      <li class="my-2">Pufferjackor</li>
      <li class="my-2">Kappa</li>
      <li class="my-2">Trenchcoats</li>
    </ul>
    <ul class="mx-20">
      <li class="font-bold">Mina Sidor</li>
      <li class="my-2">Mina Ordrar</li>
      <li class="my-2">Mitt Konto</li>
    </ul>
    <ul>
      <li class="font-bold">Kundtjänst</li>
      <li class="my-2">Returnpolicy</li>
      <li class="my-2">Integritetspolicy</li>
    </ul>
  </section>
  <section class="text-center text-xl py-3 bg-[#276B6C] text-white">
    <p>&copy; Freaky Fashion</p>
  </section>