<nav class="w-full mt-2 sm:mt-8 mb-8">
  <ul class="list-none m-0 p-0 text-3xl font-bold flex flex-col sm:flex-row">
    <li
      class="hover:text-[#73B8B7] inline-flex mb-3 sm:mr-8 md:mr-16 lg:mr-24 text-4xl hover:cursor-pointer"
    >
      Nyheter
    </li>

    <li class="hover:text-[#73B8B7] inline-flex mb-3 sm:mr-8 md:mr-16 lg:mr-24 hover:cursor-pointer">
      Topplistan
    </li>

    <li class="hover:text-[#73B8B7] inline-flex mb-3 sm:mr-8 md:mr-16 lg:mr-24 hover:cursor-pointer">
      Rea
    </li>

    <li class="hover:text-[#73B8B7] inline-flex sm:mr-8 md:mr-16 lg:mr-24 hover:cursor-pointer">
      Kampanjer
    </li>
  </ul>
</nav>
