<section class="flex flex-col items-center justify-center">
  <h2 class="text-3xl text-center font-bold mb-10">Registrera konto</h2>
  <form
    [formGroup]="formGroup"
    class="flex flex-col w-1/3"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex flex-col mb-6">
      <label for="username" class="mb-1 text-left">Användarnamn</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        maxlength="25"
        class="border border-black rounded p-1"
      />
    </div>
    <div class="flex flex-col mb-6">
      <label for="email" class="mb-1 text-left">Email</label>
      <input
        type="text"
        id="email"
        formControlName="email"
        maxlength="100"
        class="border border-black rounded p-1"
      />
    </div>

    <div class="flex flex-col mb-6">
      <label for="password" class="mb-1 text-left">Lösenord</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        maxlength="25"
        class="border border-black rounded p-1"
      />
    </div>

    <button
      class="bg-[#276B6C] hover:bg-[#73B8B7] px-5 py-2.5 rounded-md text-white font-bold disabled:opacity-50"
      type="submit"
    >
      Registrera
    </button>
  </form>
</section>
